.main-chat
  .main-chat__group-info
    .group-member
      .group-member__user
        = @group.name
      %ul.group-member__list
        Member : 
        %li.group-member__list__member
          - @group.users.each do |user|
            = user.name

    .group-edit
      = link_to edit_group_path(@group.id), class: "edit__btn" do
        Edit

  .main-chat__message-list
    = render @messages

  .main-chat__message-form
    = form_for [@group, @message] do |f|
      .input
        .input-box
          = f.text_field :body, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__photo' do
            = icon('far', 'image')
            = f.file_field :image, class: 'input-box__photo-btn'
        = f.submit 'Send', class: 'input-box__send-btn'
